{{#if user}}
<p>
Hi {{user.username}}.
</p>
{{else}}
<div class="log-reg">
    <a href="/auth/login">Login</a> or <a href="/auth/register">Register</a> to add Clothing Item and to view your liked items!
</div>
{{/if}}
