<div id="login">
<h3>Sign in</h3>
<form method="POST" action="" class="login">
	<section>
		<label for= "username">Username</label> 
		<input id="username" name = "username" type="text" autocomplete="username"></input>
	</section>
	<section>
		<label for= "current-password">Password</label> 
		<input id="current-password" name = "password" type="password" autocomplete="current-password"></input>
	</section>
	<input type="submit" value="Log In">
</form>
<div>Don't have an account? <a href="/auth/register">Register</a>.</div>
</div>