<div id="login">
<h3>Register</h3>
<form method="POST" action="">
	<div class='form-row'><label>Username:</label> <input name="username" type="text"></div>
	<div class='form-row'><label>Password:</label> <input name="password" type="password"></div>
	<div class='form-row'><input type="submit" value="Register"></div>
	<div class='form-row'>Already have an account? <a href="/auth/login">Login</a>.</div>
</form>
</div>
